* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.parentDiv {
    position: relative;
    overflow: hidden;
    background-color: gray;
    height: calc(50vh - 10px);
    width: calc(50vw - 10px);
}

.childDiv {
    position: absolute;
    left: 0;
    right: 0;
    touch-action: none;
    background-color: black;
    font-size: 14px;
    height: 50px;
    width: 50px
}